.content-container {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

.App-intro {
  font-size: large;
  background-color: #940429;
  padding: 15px 0px;
  color: white;
  margin: 0px 50px;
}

